* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

p {
	padding: 20px;
	border: 2px solid black; 
}

.work-experience-title {
	font-size: 20px;
}

.img-circle {
	border-radius:50%;
}

a {
    text-decoration: none;
    color: rgb(25, 210, 215);
    outline:none !important;
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */
#side_styling {
    padding-left: 20%;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    margin-left: -20%;
    background: rgb(20, 50, 80);
    color: #fff;
}

.header {
    margin: 30% 2em 0;
    text-align: left;
}

.main-title,
.main-subtitle {
    margin: 0;
}
.main-title {
    text-transform: uppercase;
    font-size: 180%;
}
.main-subtitle {
    font-weight: 300;
    color: rgb(25, 210, 215);
    font-size: 120%;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 3px solid rgb(103, 103, 180);
    color: #fff;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid rgb(25, 210, 215);
    color: rgb(25, 210, 215);
    text-decoration: none;
}
.body_content {
    padding: 2em 3em 0;
}

.body-subheading {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.entries{
	
}

.entry {
    
}
.entry-title {
    font-size: 2em;
    color: #222;
}
.entry-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.entry-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.project-img {
    height: 200px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
}

.project-img-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    outline-style: none;
}

.project-img:hover{
    box-shadow: 3px 10px 5px lightslategray;
    position: relative;
    top: -10px;
    transition: box-shadow 0.2s ease-in-out;
}

@media (max-width: 760px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #side_styling {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .body_content {
        padding: 2em 1em 0;
    }
}

/* Tooltip*/
.tooltip {
    width:300px;
    position:absolute;
    display:none;
    z-index:1000;
    background-color:#E9EEF0;
    color:black;
    border: 1px solid #170E29;
    padding:15px 20px;
    box-shadow: 0px 3px 2px #8D8D8D;
    border-radius: 6px;
}